@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

#image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@layer base {
  body.dark {
    --bg-color: #1a202c; /* Couleur de fond sombre */
    --text-color: #e2e8f0; /* Couleur de texte claire */
  }
  body {
    --bg-color: #ffffff;
    --text-color: #1a202c;
  }
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
